<footer class="footer">
    <div class="container footer__container">
        <ul class="footer__row row d-flex">
            <li class="footer__col footer__col_hidden col">
                <h4 class="footer__title">Company</h4>
                <nav class="footer__nav">
                    <ul class="footer__menu menu">
                        <li class="menu__item">
                            <a href="#" class="menu__link">About</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">About2</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">About3</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">About4</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">About5</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">About6</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">About7</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">About8</a>
                        </li>
                    </ul>
                </nav>
            </li>
            <li class="footer__col footer__col_hidden col">
                <h4 class="footer__title">Product</h4>
                <nav class="footer__nav">
                    <ul class="footer__menu menu">
                        <li class="menu__item">
                            <a href="#" class="menu__link">FAQ</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Tour</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Science</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Demo</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Blog</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Blog2</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Starts</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Policy</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Teams</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Landing1</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Landing2</a>
                        </li>
                    </ul>
                </nav>
            </li>
            <li class="footer__col footer__col_hidden col">
                <h4 class="footer__title">Store</h4>
                <nav class="footer__nav">
                    <ul class="footer__menu menu">
                        <li class="menu__item">
                            <a href="#" class="menu__link">Compare Plans</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Plan1</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Plan2</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Plan Plan Plan3</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Plan4</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Plan5</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Plan6</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Gift Card</a>
                        </li>
                    </ul>
                </nav>
            </li>
            <li class="footer__col col">
                <h4 class="footer__title">Subscribe</h4>
                <div class="footer__wrap">
                    <ul class="footer__social social d-flex">
                        <li class="social__item social__item_color-orange">
                            <a href="#" class="social__link d-flex">
                                <i class="icon icon-rss-icon"></i>
                            </a>
                        </li>
                        <li class="social__item social__item_color-blue">
                            <a href="#" class="social__link d-flex">
                                <i class="icon icon-fb-icon"></i>
                            </a>
                        </li>
                        <li class="social__item social__item_color-skyblue">
                            <a href="#" class="social__link d-flex">
                                <i class="icon icon-tw-icon"></i>
                            </a>
                        </li>
                        <li class="social__item social__item_color-darkblue">
                            <a href="#" class="social__link d-flex">
                                <i class="icon icon-linkedin-icon"></i>
                            </a>
                        </li>
                        <li class="social__item social__item_color-red">
                            <a href="#" class="social__link d-flex">
                                <i class="icon icon-youtube-icon"></i>
                            </a>
                        </li>
                    </ul>
                    <p class="footer__copy">Copyright 2019</p>
                </div>
                <ul class="footer__contacts contacts">
                    <li class="contacts__item">
                        <b class="contacts__name">Email</b>
                        <a href="mailto:test@test.com" class="contacts__link">test@test.com</a>
                    </li>
                    <li class="contacts__item">
                        <b class="contacts__name">Phone</b>
                        <a href="tel:9990000000" class="contacts__link">(999) 000-0000</a>
                    </li>
                    <li class="contacts__item">
                        Send us a text
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</footer>
</div>
<div class="modal-overlay"></div>
<div class="modal-wrapper">
    <div class="modal">
        <h3 class="modal__title">Download our free Book</h3>
        <p class="modal__subtitle">Lorem Ipsum is simply dummy text of the printing</p>
        <form action="#" class="modal__form form d-flex">
            <label for="#" class="form__label">
                <strong>Lorme is important to me because...</strong>
            </label>
            <div class="form__select-wrap">
                <select name="select" class="form__select">
                    <option value="" selected disabled hidden>Please Select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <button class="form__btn btn btn_color-skyblue btn_color_width-medium">Get the Book</button>
        </form>
        <button class="modal__close close"></button>
    </div>
</div>
<script src="js/main.js"></script>
</body>

</html>
