<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="../fonts/MyriadPro.css">
    <link rel="stylesheet" href="css/main.css">
    <title>test</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container header__container d-flex">
                <div class="header__hamburger hamburger">
                    <span class="hamburger__line"></span>
                    <span class="hamburger__line"></span>
                    <span class="hamburger__line"></span>
                </div>
                <a href="#" class="header__logo logo">Logo</a>
                <nav class="header__nav">
                    <ul class="header__menu menu d-flex">
                        <li class="menu__item">
                            <a href="#" class="menu__link">About</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link">Tour</a>
                        </li>
                        <li class="menu__item menu__item_dropdown">
                            <a href="#" class="menu__link">Group solutions</a>
                            <ul class="menu__dropdown dropdown d-flex">
                                <li class="dropdown__item">
                                    <a href="#" class="dropdown__link">FAQ</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="#" class="dropdown__link">Tour</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="#" class="dropdown__link">Science</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="#" class="dropdown__link">Demo</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="#" class="dropdown__link">Blog</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="#" class="dropdown__link">Starts</a>
                                </li>
                                <li class="dropdown__item">
                                    <a href="#" class="dropdown__link">Policy</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="header__profile profile">Log in</a>
                <div class="header__points points">
                    <span class="points__item"></span>
                    <span class="points__item"></span>
                    <span class="points__item"></span>
                </div>
            </div>
        </header>
